.graph-callback-flex {
    display: flex;
    flex-direction: column;
    
}

.callback-flex {
    display: flex;
    flex-direction: column;
}

.graph-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.graph-child-flex {
    display: flex;
    flex-direction: row;
}

.padding-utility{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.padding-utility label {
    padding: 8px 0px;
}

.buttons-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
  background-color: #B3C100;
  border: none;
  color: #202020;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
